<nav class="sidemenu">
  <ul>
    <li routerLink="/home">
      <img src="../../../assets/logo.png" width="40px">
      <span class="logo">Crud Users</span>
    </li>

    <li routerLink="/home"><mat-icon>home</mat-icon>Home</li>

    <li routerLink="/usuarios"><mat-icon>person_add</mat-icon>Cadastrar usuários</li>

    <li>
      <a href="https://firebase.google.com/docs?gad_source=1&gad_campaignid=12302581638&gbraid=0AAAAADpUDOjwFmoa3lLWtSCjKTcjwKs4y&gclid=Cj0KCQjwjJrCBhCXARIsAI5x66VjovfhOVzQF5Z8jQUm7Mc1S_LoIOd0gm29fDwfVjUx9zneBsnk-X8aAszyEALw_wcB&gclsrc=aw.ds&hl=pt-br" target="_blank">
      </a>
      <mat-icon>local_fire_department</mat-icon>Firebase
    </li>

    <a href="https://angular.dev/" target="_blank">
      <li><mat-icon>description</mat-icon>Angular</li>
    </a>
    <li routerLink="/login" class="logout"><mat-icon>logout</mat-icon>Sair</li>
    
  </ul>
</nav>
